<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drowsiness Detection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Drowsiness Detection System</h1>
    <div>
        <img src="{{ url_for('video_feed') }}" alt="Video Feed" style="width: 640px; height: 480px;">
    </div>
    <h2 id="prediction">Prediction: Loading...</h2>
    <h3 id="timer">Eye Closed Duration: 0 seconds</h3>
    <h3 id="start_time">Start Time: 0 seconds</h3>

    <script>
        function updatePrediction() {
            fetch('/get_prediction')
                .then(response => response.json())
                .then(data => {
                    document.getElementById('prediction').innerText = 'Prediction: ' + data.prediction;
                    document.getElementById('timer').innerText = 'Eye Closed Duration: ' + data.duration.toFixed(2) + ' seconds';
                    document.getElementById('start_time').innerText = 'Start Time: ' + data.time ;
                });
        }
        function formatDuration(seconds) {
            const hours = Math.floor(seconds / 3600);
            const minutes = Math.floor((seconds % 3600) / 60);
            const secs = seconds % 60;
            return String(hours).padStart(2, '0') + ':' +
                   String(minutes).padStart(2, '0') + ':' +
                   String(secs).padStart(2, '0');
        }
       

        setInterval(updatePrediction, 250);  // Update prediction and timer every 250ms
    </script>
</body>
</html>
